<div class="newbackgroundpicture">
<img src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1621178014/Image_about_white_in_IG_Highlights_icons_by_Giovanna_All_fekw5l.jpg", class="marmor"/>
</div>
<div class="newname">
<img src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1633451791/IMG_2090_q7ylf7.jpg", class="profilbild"/>
</div>
<div class="newtitle">
<h1 class="title">Audrey Herber</h1>
</div>
<div class="newinformations">
<img src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1621185792/Sleep_information_m8ejpf.png", class="generalinfo"/>
</div>
<div class="telediv">
<a href="tel:352661410213"><h2 class="telephone">+352 661 410 213</h2></a>
</div>
<div class="email">
<a href="audrey.herber123@gmail.com"><h2 class="emailprec">audrey.herber123@gmail.com</h2></a>
</div>
<div class="newtitle">
<h1 class="title2">Programmes utilisés</h1>
</div>
<div class="newillustrations">
<div class="slider">
	<div class="slide-track">
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" />
		</div>
	</div>
</div>
</div>

<div class="newtitlesecond">
<h1 class="title2">Liens utiles</h1>
</div>

<div class="row">
<div class="col-sm-6">
<div class="newlinks">
<button class="buttoncv" type="button"><a href="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1633502873/audreycv-1_n6k3oi.png" download rel="noopener noreferrer" target="_blank">
   CV/1
</a>
</button>
</div>
</div>

<div class="col-sm-6">
<div class="newlinks2">
<button class="buttoncv" type="button"><a href="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1633502880/audreycv-2_ssusts.png" download rel="noopener noreferrer" target="_blank">
   CV/2
</a>
</button>
</div>
</div>

<div class="col-sm-6">
<div class="newlinks2">
<button class="buttoncv" type="button"><a href="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1633608748/Lettre_de_motivation_ZARA-1_ey5tcu.png" download rel="noopener noreferrer" target="_blank">
   Lettre de Motivation/1
</a>
</button>
</div>
</div>

<div class="col-sm-6">
<div class="newlinks2">
<button class="buttoncv" type="button"><a href="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1633608751/Lettre_de_motivation_ZARA-2_fvib3o.png" download rel="noopener noreferrer" target="_blank">
   Lettre de Motivation/2
</a>
</button>
</div>
</div>
</div>